@import 'tailwindcss';

/* :root{
  
} */
:root {
  --bg-background: white;
  --bg-primary: rgb(216, 216, 216);
  --bg-secondary:#e4e4e4;
  --text-main: black;
  --text-secondary: #98989A;
  --text-accent: #FFD11A;
  --text-button:#333333;
  --text-border:#343434;
}

[theme="dark"] {
  --bg-background: black;
  --bg-primary: #262626;
  --bg-secondary:#1a1a1a;
  --text-main: white;
  --text-secondary: #98989A;
  --text-accent: #FFD11A;
}



