
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.3s ease-out;
}
@import 'tailwindcss';

/* :root{
  
} */

:root {
  --bg-background: white;
  --bg-primary: #938400;
  --bg-secondary:#ffffff;
  --text-main: black;
  --text-secondary: #98989A;
  --text-accent: #FFD11A;
  --text-button:#333333;
  --text-border:#343434;
}

body {
  font-family: 'JetBrains Mono', 'Fira Mono', 'Consolas', 'Menlo', 'monospace';
}

[theme="dark"] {
  --bg-background: black;
  --bg-primary: #262626;
  --bg-secondary:#1a1a1a;
  --text-main: white;
  --text-secondary: #98989A;
  --text-accent: #FFD11A;
}



